.material-icons{
    display: inline-flex;
    vertical-align: middle;
    margin-top: -5px;
    }

img {
    width: 100%;
    height: auto;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav a {
    color: black;
}


